*{
    padding: 0 px;
    margin: 0 px;
}
body{
    width: 1200px;
    height: 100vh;

}

#main-box{
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-flow:  column wrap;
    justify-content: center;

}
#main-box  #firt-image,
#main-box  #second-image,
#main-box  #third-image,
#main-box  #fourth-image,
#main-box  #five-image
{

    position: relative;


    margin-left: 5px;
}
#main-box img{
    width: 700px;
    height: 400px;
    border-radius: 8%;
    margin-left: 5px;
    object-fit:cover;
}
#main-box  h2{
    color:white;
    position: absolute;
    font-size: 23px;
    top: 87%;
    left: 6%;
 
}